@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.selected {
  padding: 0.5rem;
}
